PORT=your port
MONGO_URI=mongodb://127.0.0.1:27017
ACCESS_TOKEN_SECRET=test
ACCESS_TOKEN_EXPIRY=your duration
REFRESH_TOKEN_SECRET=test
REFRESH_TOKEN_EXPIRY=your duration
CLOUDINARY_CLOUD_NAME=hehehe
CLOUDINARY_API_KEY=145254656495
CLOUDINARY_SECRET_KEY=sdafsgfsd-sdfgsgkjfok-asdff