PORT=8001 | your port
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.5hflrlp.mongodb.net/template-backend?retryWrites=true&w=majority&appName=Cluster0
ACCESS_TOKEN_SECRET=test
ACCESS_TOKEN_EXPIRY=your duration
REFRESH_TOKEN_SECRET=test
REFRESH_TOKEN_EXPIRY=your duration
CLOUDINARY_CLOUD_NAME=hehehe
CLOUDINARY_API_KEY=145254656495
CLOUDINARY_SECRET_KEY=sdafsgfsd-sdfgsgkjfok-asdff
NODE_ENV=development | Production | Test